.button {
  @extend %font-add;
  @include font($size: 1.7rem, $height: 2.2rem, $color: $color-dark-3xl);

  padding: 14px 45px;
  letter-spacing: 0.06em;
  border-radius: 100px;
  cursor: pointer;
  @extend %transition;
  &_center {
    margin: auto;
    display: block;
  }
  &_bordered {
    background: $color-light-s;
    border: 1px solid $color-primary;
    &:hover {
      background: $color-primary-light;
    }
  }
  &_colored {
    background: $color-primary;
    border: 1px solid $color-primary;
    &:hover {
      background: $color-primary-light;
    }
  }
}

