
$color-light-xl: #FFFFFF;
$color-light-l: #F6F6F6;
$color-light-l2: #CDCDCD;
$color-light-s: #FAFAFA;
$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-3xl: #292929;
$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$start-screen-gradient-background: #5B483A;
$midl-screen-gradient-background: #262425;
$end-screen-gradient-background: #211F20;
$logo-hover: #ff8f3f;
$hamburger-pets: #000000;
$color-overlay: rgba(41, 41, 41, 0.6);


$content-width: 1260px;
$tablet-more-width: 814px;
$tablet-width: 768px;
$tablet-767: 767px;
$tablet-less-width: 752px;
$mobile-big-width: 555px;
$mobile-width: 320px;


$content-width2: 1278px;
$tablet-width2: 764px;