$color-primary: #444444;
$color-background: #888888;
$color-additional: #efefef;
$color-disabled: #fffcfc;

$content-width: 1220px;
$content-mobile: 470px;
$content-game: 400px;
$content-mobil-game: 200px;